﻿@model DormitoryWebProject.Models.ChiTietKTX

@{
    ViewBag.Title = "Create";
}
@section PageStyle{
    <!-- Stars rating -->
    <link href="~/assets/plugins/bootstrap-star-rating/css/star-rating.min.css" media="all" rel="stylesheet" />
}
@section PageScript {
    <!-- Star rating JS -->
    <script src="~/assets/plugins/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".my-rating").rating();
        });
        $(".my-rating").rating({
            starCaptions: function (val) {
                if (val < 3.5) {
                    return val + ' Stars';
                }
                else if (val >= 4.5) {
                    return 'Brilliant'
                }
                else if (val >= 3.5) {
                    return 'Awesome'
                }
            }
        });
    </script>
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Tạo thông tin chi tiết</h2>
    </section>
    <section class="content">
        @using (Html.BeginForm(new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.rated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.rated, htmlAttributes: new { @class = "rating my-rating", data_min = 0, data_max = 5, data_step = 0.5, data_size = "xs" })
                        @Html.ValidationMessageFor(model => model.rated, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GiaThueThapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiaThueThapNhat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaThueThapNhat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.GiaThueCaoNhat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiaThueCaoNhat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GiaThueCaoNhat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MoTaKTX, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MoTaKTX, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MoTaKTX, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pictureUpload1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.pictureUpload1, htmlAttributes: new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureUpload1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pictureUpload2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.pictureUpload2, htmlAttributes: new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureUpload2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pictureUpload3, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.pictureUpload3, htmlAttributes: new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureUpload3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pictureUpload4, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.pictureUpload4, htmlAttributes: new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureUpload4, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pictureUpload5, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.pictureUpload5, htmlAttributes: new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.pictureUpload5, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.KtxFK, "KtxFK", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("KtxFK", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.KtxFK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </section>
</div>



