﻿<section class="room-info-section">
    <div class="row" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
        <!-- Section Divider -->
        <div class="sec-divider"></div>
        <h3 class="text-center title">PHÒNG ỐC</h3>
        <hr class="title-divider" id="td4">
    </div>
    <!-- KTX 43-45 -->
    <div class="row" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
        <div class="col-md-7 col-xs-12">
            <div class="rooms-slider">
                <div id="room-carousel1" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic1.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic2.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic3.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic4.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic5.png"> </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div id="thumbcarousel1" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div data-target="#room-carousel1" data-slide-to="0" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic1.png"></div>
                                <div data-target="#room-carousel1" data-slide-to="1" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic2.png"></div>
                                <div data-target="#room-carousel1" data-slide-to="2" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic3.png"></div>
                                <div data-target="#room-carousel1" data-slide-to="3" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic4.png"></div>
                                <div data-target="#room-carousel1" data-slide-to="4" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic5.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 room-info" id="ktx-4345-info">
            <h3 class="title">KÝ TÚC XÁ 43 - 45</h3>
            <div class="star-rating" data-toggle="tooltip" data-placement="left" title="Wow! thật bất ngờ">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                </ul>
            </div>
            <p>Tuyệt vời</p>
            <p style="font-weight: bold">Giá thuê: <span style="color: #F4841A">800.000 - 1.200.000 / tháng</span></p>
            <hr class="paragraph-divider">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p style="font-weight: bold;">
                Tình trạng chỗ ở
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    <span style="font-weight: bold">Sắp hết chỗ</span>
                </div>
            </div>
            <button class="btn btn-default hvr-grow-shadow" data-toggle="tooltip" data-placement="bottom" title="Đặt chỗ ngay thôi nào!" onclick="location.href='@Url.Action("Datcho","Lienhe")'">LIÊN HỆ XEM PHÒNG</button>
        </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="600" data-aos-easing="ease-in-out" data-aos-once="true">
        <hr style="border-color: #E8DECC">
    </div>
    <!-- KTX 135A  -->
    <div class="row" data-aos="fade-up" data-aos-duration="700" data-aos-easing="ease-in-out" data-aos-once="true">
        <div class="col-xs-12 visible-xs visible-sm">
            <div class="rooms-slider">
                <div id="room-carousel2" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic6.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic6.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic7.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic8.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic10.png"> </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div id="thumbcarousel2" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div data-target="#room-carousel2" data-slide-to="0" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic6.png"></div>
                                <div data-target="#room-carousel2" data-slide-to="1" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic7.png"></div>
                                <div data-target="#room-carousel2" data-slide-to="2" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic8.png"></div>
                                <div data-target="#room-carousel2" data-slide-to="3" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic9.png"></div>
                                <div data-target="#room-carousel2" data-slide-to="4" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic10.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 room-info" id="ktx-135A-info">
            <h3 class="title">KÝ TÚC XÁ 135A</h3>
            <div class="star-rating" data-toggle="tooltip" data-placement="bottom" title="4 sao nhưng vẫn tốt chán nhỉ">
                <ul class="list-inline">
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                </ul>
            </div>
            <p>Rất hài lòng</p>
            <p style="font-weight: bold">Giá thuê: <span style="color: #F4841A">700.000 - 1.000.000 / tháng</span></p>
            <hr class="paragraph-divider">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p style="font-weight: bold;">
                Tình trạng chỗ ở
            </p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    <span style="font-weight: bold">Còn 150 chỗ ở</span>
                </div>
            </div>
            <button class="btn btn-default hvr-grow-shadow" data-toggle="tooltip" data-placement="bottom" title="Đặt chỗ ngay thôi nào!" onclick="location.href='@Url.Action("Datcho","Lienhe")'">LIÊN HỆ XEM PHÒNG</button>
        </div>
        <div class="col-md-7 hidden-xs hidden-sm">
            <div class="rooms-slider">
                <div id="room-carousel3" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic6.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic7.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic8.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic9.png"> </div>
                        <div class="item"> <img src="~/assets/images/trangchu/Gallery/Original/ktx-pic10.png"> </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div id="thumbcarousel3" class="carousel slide" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div data-target="#room-carousel3" data-slide-to="0" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic6.png"></div>
                                <div data-target="#room-carousel3" data-slide-to="1" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic7.png"></div>
                                <div data-target="#room-carousel3" data-slide-to="2" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic8.png"></div>
                                <div data-target="#room-carousel3" data-slide-to="3" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic9.png"></div>
                                <div data-target="#room-carousel3" data-slide-to="4" class="thumb hvr-buzz-out"><img class="img-rounded" src="~/assets/images/trangchu/Gallery/Thumbs/ktx-pic10.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="border: none">
</section>
