﻿@model DormitoryWebProject.Models.Phong

@{ ViewBag.Title = "Create"; }

<div class="content-wrapper">
    <section class="content-header">
        <h2>Tạo mới thông tin phòng</h2>
    </section>
    <section class="content">
        @using (Html.BeginForm(new { enctype = "multipart/form-data" }))
        {
@Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <!--tên phòng-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.TenPhong, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.TenPhong, htmlAttributes: new { @class = "control-label col-md-3" })
                            @Html.ValidationMessageFor(model => model.TenPhong, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--tên tầng-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.GiaThueThapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GiaThueThapNhat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GiaThueThapNhat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--tên loại phòng-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.TenLoai, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenLoai, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--số lượng sinh viên-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.MoTaKTX, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MoTaKTX, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MoTaKTX, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--tên ktx-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.KtxFK, "KTX", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("KtxFK", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.KtxFK, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--tổng số giường-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.pictureUpload2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.pictureUpload2, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pictureUpload2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--tổng số giường trống-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.pictureUpload3, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.pictureUpload3, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.pictureUpload3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--cơ sở vật chất-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.CoSoVatChat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.CoSoVatChat, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CoSoVatChat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!--hình ảnh phòng-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.picturePath1, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.picturePath1, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.picturePath1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.picturePath2, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.picturePath2, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.picturePath2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.picturePath3, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.picturePath3, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.picturePath3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.picturePath4, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.picturePath4, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.picturePath4, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.picturePath5, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.picturePath5, htmlAttributes: new { type = "file", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.picturePath5, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>}

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </section>
</div>



