﻿@model DormitoryWebProject.Models.ChiTietKTX

@{
    ViewBag.Title = "Details";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Details</h2>
    </section>
    <section class="content">
        <div>
            <h4>ChiTietKTX</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KTX.TenKTX)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KTX.TenKTX)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.rated)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rated)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GiaThueThapNhat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaThueThapNhat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GiaThueCaoNhat)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GiaThueCaoNhat)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MoTaKTX)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MoTaKTX)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.picturePath1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.picturePath1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.picturePath2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.picturePath2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.picturePath3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.picturePath3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.picturePath4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.picturePath4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.picturePath5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.picturePath5)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CTKTXID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </section>
</div>


