﻿@using DormitoryWebProject.Extensions
@model IEnumerable<DormitoryWebProject.Models.ChiTietKTX>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Index</h2>
    </section>
    <section class="content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KTX.TenKTX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.rated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaThueThapNhat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaThueCaoNhat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTaKTX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pictureUpload1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pictureUpload2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pictureUpload3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pictureUpload4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pictureUpload5)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KTX.TenKTX)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaThueThapNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaThueCaoNhat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTaKTX)
                    </td>
                    <td>
                        @HtmlExtensions.ShowImage(null,item.picturePath1)
                    </td>
                    <td>
                        @HtmlExtensions.ShowImage(null, item.picturePath2)
                    </td>
                    <td>
                        @HtmlExtensions.ShowImage(null, item.picturePath3)
                    </td>
                    <td>
                        @HtmlExtensions.ShowImage(null, item.picturePath4)
                    </td>
                    <td>
                        @HtmlExtensions.ShowImage(null, item.picturePath5)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CTKTXID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CTKTXID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CTKTXID })
                    </td>
                </tr>
            }

        </table>
    </section>
</div>



