﻿@model DormitoryWebProject.Models.KTX

@{
    ViewBag.Title = "Delete";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Delete</h2>
        <h3>Are you sure you want to delete this?</h3>
    </section>
    <section class="content">
        <div>
            <h4>KTX</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TenKTX)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenKTX)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SDTLienHe)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDTLienHe)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </section>
</div>




