﻿@model DormitoryWebProject.Models.KTX

@{
    ViewBag.Title = "Details";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Details</h2>
    </section>
    <section class="content">
        <div>
            <h4>KTX</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.KtxID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KtxID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TenKTX)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenKTX)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiaChi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SDTLienHe)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDTLienHe)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.KtxID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </section>
</div>



