﻿@model IEnumerable<DormitoryWebProject.Models.KTX>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Index</h2>
    </section>
    <section class="content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KtxID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKTX)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SDTLienHe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KtxID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKTX)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDTLienHe)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.KtxID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.KtxID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.KtxID })
                    </td>
                </tr>
            }

        </table>
    </section>
</div>



