﻿
@{
    ViewBag.Title = "Hóa đơn điện nước";
}
@section PageStyle{
    <!-- DataTables -->
    <link href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>HÓA ĐƠN - ĐIỆN NƯỚC</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="jumbotron">

                    <h4 class="page-header">THU PHÍ ĐIỆN NƯỚC MÃ PHÒNG 135A-L101 THÁNG 10/2018</h4>

                    <table class="table">

                        <tr>
                            <td>Số biên lai</td>
                            <td><input type="text" class="form-control" placeholder="3456"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>


                        <tr>
                            <td>Ngày in biên lai</td>
                            <td><input type="text" class="form-control" placeholder="20/10/2018"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>

                        <tr>
                            <td>Mã phòng</td>
                            <td><input type="text" class="form-control" placeholder="135A-L101"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>

                        <tr>
                            <td>Người đại diện đóng tiền</td>
                            <td><input type="text" class="form-control" placeholder="Nguyễn Kim Tú Nhi"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>

                        <tr>
                            <td>Hình thức thanh toán</td>
                            <td colspan="2">
                                <li class="nav-item dropdown">
                                    <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Chọn<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item">Tiền mặt</a></li>
                                        <li><a class="dropdown-item">Tài khoản ngân hàng</a></li>
                                    </ul>
                                </li>
                            </td>
                        </tr>

                    </table>



                    <div class="table-responsive[-sm|-md|-lg|-xl]">
                        <table id="myTable" class="table table-bordered">

                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Nội dung</th>
                                    <th>Tiêu thụ</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1. <input type="checkbox" autocomplete="off"></td>
                                    <td>Tiền điện tháng 10/2018</td>
                                    <td>600 (kWh)</td>
                                    <td>4.000 (đồng/kWh)</td>
                                    <td>2.400.000</td>
                                </tr>
                                <tr>
                                    <td>2. <input type="checkbox" autocomplete="off"></td>
                                    <td>Tiền nước tháng 10/2018</td>
                                    <td>40 (khối)</td>
                                    <td>7.000 (đồng/khối)</td>
                                    <td>280.000</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                    <h4>Tổng cộng: 2.680.000</h4>

                    <div class="row">

                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Ghi chú"></div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5"><button type="button" class="btn btn-info"><i class="fa fa-save"></i> Lưu</button></div>
                                <div class="col-md-7"><button type="button" class="btn btn-success"><i class="fa fa-save"></i><i class="fa fa-print"></i> Lưu&In</button></div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

            <div class="col-md-6">
                <div class="jumbotron">
                    <h4 class="page-header">DANH SÁCH SINH VIÊN MÃ PHÒNG 135A-L101</h4>

                    <table id="myTable" class="table table-bordered">
                        <tr><th>STT</th><th>Tên sinh viên</th><th>MSSV</th></tr>
                        <tr><td>1</td><td>Nguyễn Kim Tú Nhi</td><td><a href="#">31171020710</a></td></tr>
                        <tr><td>2</td><td>Trần Thị Huyền</td><td><a href="#">31171020810</a></td></tr>
                        <tr><td>3</td><td>Võ Thị Mỹ Duyên</td><td><a href="#">31171020910</a></td></tr>
                        <tr><td>4</td><td>Lê Nguyễn Minh Tiên</td><td><a href="#">31171020610</a></td></tr>
                        <tr><td>5</td><td>Lê Thị Thủy Tiên</td><td><a href="#">31171020510</a></td></tr>
                        <tr><td>6</td><td>Trần Phương An</td><td><a href="#">31171020410</a></td></tr>
                        <tr><td>7</td><td>Nguyễn Ngọc Anh</td><td><a href="#">31171020310</a></td></tr>
                        <tr><td>8</td><td>Nguyễn Thu Thủy</td><td><a href="#">31171020210</a></td></tr>
                    </table>





                </div>

                <div class="jumbotron">
                    <h4 class="page-header">DANH SÁCH HÓA ĐƠN ĐIỆN NƯỚC MÃ PHÒNG 135A-L101 2018-2019</h4>

                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Chọn tháng muốn xem<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">Tháng 07/2018</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 08/2018</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 09/2018</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 10/2018</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 11/2018</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 12/2018</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 01/2019</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 02/2019</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 03/2019</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 04/2019</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 05/2019</a></li>
                            <li><a href="#" class="dropdown-item">Tháng 06/2019</a></li>
                        </ul>
                    </li>

                    <table id="myTable-dsbl" class="table table-bordered">
                        <tr><th><i class="fas fa-file-invoice"></i> Số biên lai: 9956</th></tr>
                        <tr>
                            <td>
                                <div class="row">

                                    <div class="col-md-5">
                                        <h5> Hóa đơn tháng: </h5><h6> 07/2018 </h6>
                                        <h5>Ngày in biên lai: </h5><h6>17/08/2018</h6>
                                        <h5>Người đóng: </h5><h6>Nguyễn Kim Tú Nhi</h6>
                                        <h5>Người thu: </h5><h6>Leo Messi</h6>
                                    </div>

                                    <div class="col-md-7">
                                        <table id="myTable" class="table table-bordered">
                                            <tr><th>Nội dung</th><th>Số tiền</th></tr>
                                            <tr><td>Tiền điện</td><td>2.200.000</td></tr>
                                            <tr><td>Tiền nước</td><td>290.000</td></tr>
                                        </table>
                                        <h4>Tổng cộng: 2.490.000</h4>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-trash"> Hủy biên lai</i></button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>





                </div>





            </div>

        </div>


    </div>
    <!-- /.content -->
</div>

@section PageScript{
    <!-- DataTables -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });

        });
    </script>
}
