﻿
@{
    ViewBag.Title = "Hóa đơn lệ phí";
}
@section PageStyle{
    <!-- DataTables -->
    <link href="~/assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>HÓA ĐƠN - LỆ PHÍ</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <div class="jumbotron">

                    <h4 class="page-header">THU LỆ PHÍ CÁ NHÂN HK2 2018-2019</h4>
                    <h5>(Loại 1: 8 giường có máy lạnh)</h5>

                    <table class="table">

                        <tr>
                            <td>Số biên lai</td>
                            <td><input type="text" class="form-control" placeholder="3456"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>


                        <tr>
                            <td>Ngày in biên lai</td>
                            <td><input type="text" class="form-control" placeholder="20/10/2018"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>

                        <tr>
                            <td>Ngày bắt đầu ở</td>
                            <td><input type="text" class="form-control" placeholder="01/09/2018"></td>
                            <td><button type="button" class="btn btn-primary"><i class="fa fa-edit"></i> Chỉnh sửa</button></td>
                        </tr>

                        <tr>
                            <td>Hình thức thanh toán</td>
                            <td colspan="2">
                                <li class="nav-item dropdown">
                                    <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Chọn<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item">Tiền mặt</a></li>
                                        <li><a class="dropdown-item">Tài khoản ngân hàng</a></li>
                                    </ul>
                                </li>
                            </td>
                        </tr>

                    </table>



                    <div class="table-responsive[-sm|-md|-lg|-xl]">
                        <table id="myTable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Nội dung</th>
                                    <th>Đơn vị</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1. <input type="checkbox" autocomplete="off"></td>
                                    <td>Tiền phòng HK2 2018-2019 (01/02 -> 30/06) </td>
                                    <td>Đồng/tháng</td>
                                    <td>600.000</td>
                                    <td>3.000.000</td>
                                </tr>
                                <tr>
                                    <td>2. <input type="checkbox" autocomplete="off"></td>
                                    <td>Tiền BHTN 40.000đ</td>
                                    <td>Đồng/tháng</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>3. <input type="checkbox" autocomplete="off"></td>
                                    <td>Tiền BHYT</td>
                                    <td>Đồng/năm</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4>Tổng cộng: 3.000.000</h4>

                    <div class="row">

                        <div class="col-md-6"><input type="text" class="form-control" placeholder="Ghi chú"></div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5"><button type="button" class="btn btn-info"><i class="fa fa-save"></i> Lưu</button></div>
                                <div class="col-md-7"><button type="button" class="btn btn-success"><i class="fa fa-save"></i><i class="fa fa-print"></i> Lưu&In</button></div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

            <div class="col-md-6">
                <div class="jumbotron">
                    <h4 class="page-header">THÔNG TIN SINH VIÊN</h4>

                    <div class="row">
                        <div class="col-md-4">
                            <img class="logo" src="68af6c8e3b2a3a9a53f83deb9116cdd5.jpg" alt="">
                        </div>

                        <div class="col-md-8">
                            <table id="myTable" class="table table-bordered">
                                <tr><td colspan="2">Nguyễn Ngọc Anh</td></tr>
                                <tr><th>MSSV</th><td>31171020310</td></tr>
                                <tr><th>Ngày sinh</th><td>19/09/1997</td></tr>
                                <tr><th>Giới tính</th><td>nữ</td></tr>
                                <tr><th>Sinh viên năm</th><td>3</td></tr>
                                <tr><th>Mã phòng</th><td>135A-L101</td></tr>
                                <tr><th>Ngày bắt đầu ở</th><td>01/09/2018</td></tr>
                            </table>
                        </div>


                    </div>

                </div>

                <div class="jumbotron">
                    <h4 class="page-header">DANH SÁCH HÓA ĐƠN LỆ PHÍ</h4>

                    <li class="nav-item dropdown">
                        <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Chọn học kỳ muốn xem<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="dropdown-item">HK1 (2018-2019)</a></li>
                            <li><a href="#" class="dropdown-item">HK2 (2017-2018)</a></li>
                            <li><a href="#" class="dropdown-item">HK1 (2017-2018)</a></li>
                            <li><a href="#" class="dropdown-item">HK2 (2016-2017)</a></li>
                            <li><a href="#" class="dropdown-item">HK1 (2016-2017)</a></li>
                            <li><a href="#" class="dropdown-item">HK2 (2015-2016)</a></li>
                            <li><a href="#" class="dropdown-item">HK1 (2015-2016)</a></li>
                        </ul>
                    </li>

                    <table id="myTable-dsbl" class="table table-bordered">
                        <tr><th><i class="fas fa-file-invoice"></i> Số biên lai: 9956</th></tr>
                        <tr>
                            <td>
                                <div class="row">

                                    <div class="col-md-5">
                                        <h5>Học kỳ: </h5><h6>HK1</h6>
                                        <h5>Năm học: </h5><h6>2018-2019</h6>
                                        <h5>Ngày in biên lai: </h5><h6>17/08/2018</h6>
                                        <h5>Người thu: </h5><h6>Leo Messi</h6>
                                    </div>

                                    <div class="col-md-7">
                                        <table id="myTable" class="table table-bordered">
                                            <tr><th>Nội dung</th><th>Số tiền</th></tr>
                                            <tr><td>Tiền phòng HK1 2018-2019 (01/09 -> 31/01)</td><td>3.000.000</td></tr>
                                            <tr><td>TCTS-CSVC</td><td>100.000</td></tr>
                                        </table>
                                        <h4>Tổng cộng: 3.100.000</h4>
                                        <button type="button" class="btn btn-danger"><i class="fa fa-trash"> Hủy biên lai</i></button>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </table>





                </div>





            </div>

        </div>


    </div>
    <!-- /.content -->
</div>

@section PageScript{
    <!-- DataTables -->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });

        });
    </script>
}

