﻿@model DormitoryWebProject.Models.School

@{
    ViewBag.Title = "Details";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Details</h2>
    </section>
    <section class="content">
        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SchoolName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SchoolName)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SchoolID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </section>
</div>

