﻿@model IEnumerable<DormitoryWebProject.Models.School>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Index</h2>
    </section>
    <section class="content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SchoolID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.SchoolID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.SchoolID })
                    </td>
                </tr>
            }

        </table>
    </section>
</div>



