﻿@model IEnumerable<DormitoryWebProject.Models.Khoa>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Index</h2>
    </section>
    <section class="content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SoKhoa)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoKhoa)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.KhoaID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.KhoaID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.KhoaID })
                    </td>
                </tr>
            }

        </table>
    </section>
</div>



