﻿@using DormitoryWebProject.Extensions
@model DormitoryWebProject.Models.Poster

@{
    ViewBag.Title = "Details";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Details</h2>
    </section>
    <section class="content">
        <div>
            <h4>Poster</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Caption)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Caption)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastModifiedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pictureUpload)
                </dt>

                <dd>
                    @HtmlExtensions.ShowImage(null,Model.picturePath)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </section>
</div>



