﻿@using DormitoryWebProject.Extensions
@model IEnumerable<DormitoryWebProject.Models.Testimonial>

@{
    ViewBag.Title = "Index";
}
<div class="content-wrapper">
    <section class="content-header">
        <h2>Index</h2>
    </section>
    <section class="content">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Khoa.SoKhoa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenKhachHang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BinhLuan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CongViec)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.pictureUpload)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Khoa.SoKhoa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenKhachHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BinhLuan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CongViec)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rated)
                    </td>
                    <td>
                        @HtmlExtensions.ShowImage(null,item.picturePath)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TestimonialID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TestimonialID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TestimonialID })
                    </td>
                </tr>
            }

        </table>
    </section>
</div>



