﻿@model DormitoryWebProject.ViewModels.TrangChuViewModel
@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/Main/_LayoutWelcome.cshtml";
}

@section PageStyle {
    @Styles.Render("~/assets/css/trangchu/General.css")
    @Styles.Render("~/assets/plugins/aos/aos.css")
}
<!-- Dormitory Poster-->
@Html.Partial("_DormitoryPoster",Model.LISTPoster)
<div class="container-fluid content-section">
    <!-- Benefit Section -->
    @Html.Partial("_BenefitSection")
    <!-- Small Screen Benefit Section - Carousel -->
    @Html.Partial("_smScreenBenefitSection")
    <!-- Introduction -->
    @Html.Partial("_Introduction")
    <!-- Our Rooms -->
    @Html.Partial("_OurRooms",Model.LISTChiTietKTX)
    <!-- Testimonial Section -->
    @Html.Partial("_TestimonialSection",Model.LISTTestimonial)
    <!-- Card Section -->
    @Html.Partial("_CardSection")
</div>
@section PageScript{
    @Scripts.Render("~/assets/js/trangchu/page-setup.js")
    @Scripts.Render("~/assets/plugins/aos/aos.js")
    <script>
        AOS.init();
    </script>
}